<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.mudd.appconcept"
        version     = "1.0.0">
 
    <name>App Concept</name>
 
    <description>
        Quick New App Concept
    </description>
 
    <author href="http://mudd.com" email="jeff.kennedy@mudd.com">
        Jeff Kennedy
    </author>
 
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 
</widget>